*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: black;
    padding: 20px;
}
nav ul {
    background-color: #a4b830;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 400px;
}
nav li:hover{
    background-color: black;
}